[submodule ".registry"]
	path = .registry
	url = https://github.com/yutannihilation/universe
	branch = HEAD
[submodule "string2path"]
	path = string2path
	url = https://github.com/yutannihilation/string2path
[submodule "gghighlight"]
	path = gghighlight
	url = https://github.com/yutannihilation/gghighlight
[submodule "fledgingr"]
	path = fledgingr
	url = https://github.com/yutannihilation/fledgingr
[submodule "cutnumberint"]
	path = cutnumberint
	url = https://github.com/yutannihilation/cutnumberint
