[submodule ".registry"]
	path = .registry
	url = https://github.com/yutannihilation/yutannihilation.r-universe.dev
	branch = HEAD
[submodule "cutnumberint"]
	path = cutnumberint
	url = https://github.com/yutannihilation/cutnumberint
[submodule "gghighlight"]
	path = gghighlight
	url = https://github.com/yutannihilation/gghighlight
[submodule "savvy"]
	path = savvy
	url = https://github.com/yutannihilation/savvy-helper-R-package
[submodule "savvyExamples"]
	path = savvyExamples
	url = https://github.com/yutannihilation/savvy
	subdir = R-package
[submodule "string2path"]
	path = string2path
	url = https://github.com/yutannihilation/string2path
